*{
	box-sizing: border-box;
}
table{
	border: 2px solid skyblue;
	table-layout: fixed;
	width:700px;
	/*border-collapse: collapse;*/
}
th,td{
	border: 1px solid tomato;
	/*white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;*/
}
th{
	background: tomato;
}
col:first-child{
	width: 20%
}
col:nth-child(2){
	width: 20%
}
col:nth-child(3){
	width: 20%
}
col:nth-child(4){
	width: 40%
}
th:first-child, tr td:first-child{
	width: 20%
}
th:nth-child(2), tr td:nth-child(2){
	width: 20%
}
th:nth-child(3), tr td:nth-child(3){
	width: 20%
}
th:nth-child(4), tr td:nth-child(4){
	width: 40%
}
thead.fix{
	position: fixed;
	top: 0;
	left: 12px;
}