*{
	box-sizing: border-box;
}
table{
	border: 2px solid skyblue;
	table-layout: fixed;
	width:700px;
	/*border-collapse: collapse;*/
}
th,td{
	border: 1px solid tomato;
	/*white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;*/
}

tr>td:nth-child(2n){background: tomato}
tr>td:nth-child(2n-1){background: skyblue}