body{
	width:100%;
	height: 2000px;
}
/*.a{
	background: pink;
	width: 300px;
	padding: 20px;
}*/
table{
	border-spacing: 0;
	empty-cells: hide;
}
tr:nth-of-type(even){
	background: blue;
}
td{
	border: 1px solid black;
}